.banner video,
header {
  top: 0;
  left: 0;
  right: 0;
}
#containerAround,
.blog,
.blog-image,
.dmc,
.drop-down-cont,
.perk,
.portfolio,
.service-img,
a.logo,
a.portfolio {
  overflow: hidden;
}
*,
:after,
:before,
ul.c-list li:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html,
select {
  scrollbar-color: rgba(var(--dark-color), 1) transparent;
}
body,
html {
  scroll-behavior: smooth;
}
body,
select {
  scrollbar-width: 8px;
}
html,
select {
  scrollbar-width: thin;
}
.btn,
.nav-bar ul li a,
.underline,
.underline-2,
a,
button {
  position: relative;
}
.underline {
  display: inline-block;
}
.fw-700,
b,
strong {
  font-weight: 700;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(
    rgba(var(--dark-color), 1),
    rgba(var(--dark-color), 1)
  );
}
::-moz-selection {
  color: rgba(var(--clr-2), 1);
  background: rgba(var(--dark-color), 1);
}
::selection {
  color: rgba(var(--clr-2), 1);
  background: rgba(var(--dark-color), 1);
}
html {
  scroll-snap-type: y mandatory;
}
body {
  margin: 0;
  right: 0;
  -webkit-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  -webkit-overflow-scrolling: touch;
  font-family: Poppins, sans-serif;
  color: rgba(var(--dark-color), 1);
  background: rgba(var(--light-color), 1);
  overflow-x: hidden;
  font-size: 15px;
}
footer,
section {
  overflow-x: hidden;
  overflow-y: clip;
}
* {
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
a {
  outline: 0;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.overlay {
  background: linear-gradient(177deg, #060340, #c00b31);
}
a.active,
a:active,
a:focus,
a:hover {
  color: #c00a30 !important;
  outline: 0 !important;
  text-decoration: none;
}
audio,
img,
video {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
}
.clr-1 {
  color: #c00a30;
}
.clr-2 {
  color: rgba(var(--clr-2), 1);
}
.bg-1,
.bg-1 option,
.nav-bar ul li a:before,
.underline-2:after,
.underline:before,
a:before {
  background: #c00a30;
}
.bg-1 .underline:before,
.bg-1 a:before,
.bg-2,
.portfolio.logo,
.portfolio.web {
  background: rgba(var(--clr-2), 1);
}
.bg-l {
  background: rgba(var(--light-color), 1);
}
.bg-d,
.privacy-policy header.text-white,
.terms-conditions header.text-white {
  background: rgba(var(--dark-color), 1);
}
.f-120 {
  font-size: 120px;
  font-weight: 600;
  line-height: 100px;
}
.f-36 {
  font-size: 36px;
}
.f-39 {
  font-size: 39px;
}
.f-24 {
  font-size: 24px;
}
.f-20 {
  font-size: 20px;
}
.nav-tabs .nav-link {
  background: 0 0 !important;
  border: 1px solid rgba(var(--dark-color), 1) !important;
  color: rgba(var(--dark-color), 1) !important;
  min-width: 170px;
}
.btn,
button {
  background: #c00a30;
  border: none !important;
  text-transform: uppercase;
  color: rgba(var(--light-color), 1) !important;
  padding: 15px 22px !important;
  border-radius: 25px !important;
}
.btn-2 {
  background: rgba(var(--clr-2), 1) !important;
  color: rgba(var(--dark-color), 1) !important;
  border-radius: 5px;
}
.btn.active,
.btn:hover,
button.active,
button:hover {
  color: rgba(var(--light-color), 1) !important;
  background: rgba(var(--dark-color), 1) !important;
}
.form-control,
input,
select {
  background: 0 0;
  color: inherit !important;
  border: unset !important;
  padding: 10px 1px !important;
  box-shadow: unset !important;
  transition-duration: 0.8s;
  height: auto !important;
  border-radius: unset !important;
  border-bottom: 1px solid rgba(var(--dark-color), 1) !important;
}
.bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.form-control:focus,
input:focus {
  outline: 0;
  background: rgba(var(--light-color), 1);
  color: #c00a30;
  border: 1px solid #c00a30;
  box-shadow: none;
}
.form-control::placeholder,
input::placeholder {
  color: rgba(var(--dark-color), 1);
  opacity: 1;
}
div.cursor div span,
label.h {
  position: absolute;
  opacity: 0;
}
.form-control:focus::placeholder,
input:focus::placeholder {
  color: #c00a30;
}
.text-white .form-control,
.text-white input,
.text-white select {
  border-color: rgba(var(--light-bg-color), 1);
  color: rgba(var(--light-bg-color), 1);
}
li {
  list-style: none;
}
.text-white .form-control:focus,
.text-white input:focus {
  background: rgba(var(--clr-3), 1);
  border: 1px solid rgba(var(--clr-2), 1);
}
.underline-2:after,
.underline-2:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  border-radius: 3px;
}
.br {
  border-radius: 15px;
}
.text-white .form-control::placeholder,
.text-white input::placeholder {
  color: rgba(var(--light-color), 1);
  opacity: 1;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
label.h {
  z-index: -999999999;
}
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  font-size: 16px;
}
@supports (-moz-appearance: none) {
  SELECT {
    -moz-appearance: none !important;
    background: url(data:image/gif; base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==)
      right center no-repeat !important;
    background-position: calc(100% - 5px) center !important;
  }
}
header {
  position: absolute;
  z-index: 999999;
}
.logo {
  width: 175px;
  display: block;
  height: 70px;
}
.logo img {
    width: 160px;
    height: 120px;
    object-fit: contain;
}
.highlight_banner{
    position: relative;
    display: table;
    z-index: 9;
}
.logo{
    overflow: visible !important;
}
.banner video {
  z-index: -1;
  min-height: 90vh;
  object-fit: cover;
  position: relative;
}
.vid_main{
    position: relative;
    /* &::before{
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        background: #bebebe66;
        top: 0;
        z-index: 1;
    } */
}
.bannerbook {
  margin-top: -70px;
}
div.book-slider {
  opacity: 1;
}
.tab-pane {
  height: auto;
}
.slick-arrow {
  background: 0 0 !important;
  z-index: 99999999;
  padding: 0 !important;
}
.slick-next:before,
.slick-prev:before {
  color: rgba(var(--dark-color), 1);
}
.text-white .slick-next:before,
.text-white .slick-prev:before {
  color: rgba(var(--light-color), 1);
}
button.slick-next.slick-arrow {
  right: 5px;
}
button.slick-prev {
  left: 5px;
}
.geners button.slick-prev,
.industry button.slick-prev {
  left: 8%;
  bottom: 0;
  top: 305px;
}
.geners button.slick-next,
.industry button.slick-next {
  right: 8%;
  bottom: 0;
  top: 305px;
}
.geners button.slick-next:before,
.geners button.slick-prev:before,
.industry button.slick-next:before,
.industry button.slick-prev:before {
  font-size: 30px;
}
a.portfolio {
  height: 400px !important;
  display: block;
  width: 100%;
}
.portfolio img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.cta {
  background: rgba(var(--dark-color), 1);
  border-radius: 150px 0 0 150px;
  margin-top: -150px;
}
.nav-link.active {
  background: #c00a30 !important;
  border: 1px solid #c00a30 !important;
  color: rgba(var(--light-color), 1) !important;
}
img.trusted {
  width: 100%;
  height: 60px;
  object-fit: contain;
}
.geners .item {
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.geners img.book,
.industry img.book {
  width: 100%;
  height: 350px;
  object-fit: contain;
}
.geners img.icon,
.industry img.icon {
  width: 90px;
  height: 100px;
  object-fit: contain;
  object-position: left;
}
.accordion-item {
  background: 0 0;
  color: inherit;
  border-color: #c00a30;
}
.drop-down-cont,
.our-writers header.text-white {
  color: #000 !important;
}
button.accordion-button {
  text-transform: none;
  background: 0 0 !important;
  outline: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.accordion-button::after {
  filter: brightness(100);
}
.dmc {
  width: 155px;
  height: 50px;
}
.dmc img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.handswriting {
  height: 550px !important;
}
.handswriting img {
  object-fit: contain;
  object-position: right;
  height: 100%;
}
@media screen and (max-width: 1367px) {
  body {
    font-size: 14px;
  }
  .f-36 {
    font-size: 30px;
  }
  .f-20 {
    font-size: 18px;
  }
  .f-39 {
    font-size: 35px;
  }
  .f-120 {
    font-size: 95px;
  }
  .cta {
    margin-top: -125px;
  }
  a.portfolio {
    height: 350px !important;
  }
}
.perk {
  height: 400px;
  border-radius: 25px;
  background-size: cover;
}
.perk .overlay {
  background: linear-gradient(
    rgba(var(--clr-1), 0.5),
    rgba(var(--dark-color), 0.5)
  );
  height: 100%;
}
.ebookbanner {
  background-size: cover !important;
}
.services {
  background: rgba(var(--clr-1), 0.4);
}
.drop-down-cont {
  position: absolute;
  width: 100%;
  max-height: 0;
  transition: height 0.9s;
  right: 0;
  top: 80%;
  box-shadow: 0 55px 36px rgb(0 52 0 / 40%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 110% 200px;
  z-index: 9999999999;
  background-color: #faf5e9;
  border-radius: 0 0 25px 25px;
}
.drop-down:hover .drop-down-cont {
  transition: max-height 0.8s ease-out;
  max-height: 140vh;
}
.drop-down-cont ul li {
  margin-right: 0;
  display: block;
}
.drop-down-cont ul li a {
  font-size: 14px !important;
}
@media screen and (max-width: 992px) {
  .drop-down-cont,
  .nav-bar {
    background: rgba(var(--dark-color), 1);
  }
  .nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    clip-path: circle(0.4% at 0% 0);
    z-index: 99999999;
    transition: 0.8s;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-bar li {
    margin: 20px auto;
  }
  .nav-bar.active {
    clip-path: circle(100% at 0% 20%);
  }
  .bannerbook {
    margin-top: -10px;
  }
  .banner video {
    min-height: 60vh;
  }
  .f-120 {
    font-size: 80px;
  }
  .f-39 {
    font-size: 30px;
  }
  .f-36 {
    font-size: 24px;
  }
  .f-20 {
    font-size: 16px;
  }
  .cta {
    margin-top: -100px;
  }
  a.portfolio {
    height: 325px !important;
  }
  .drop-down-cont {
    position: relative;
    color: rgba(var(--light-color), 1) !important;
  }
  @media screen and (max-width: 768px) {
    .banner video {
      min-height: 80vh;
    }
  }
}
@media screen and (max-width: 576px) {
  .banner video {
    min-height: 100vh;
  }
  .f-39 {
    font-size: 28px;
  }
  .f-36 {
    font-size: 24px;
  }
  .f-120 {
    font-size: 60px;
  }
}
@media screen and (max-width: 431px) {
  a.portfolio {
    height: 225px !important;
  }
  .cta {
    border-radius: 25px;
  }
}
.iti {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 13px;
}
.iti input {
  padding-left: 50px !important;
}
input[name="phone"] {
  /* padding-left: 75px !important; */
}
.points li {
  list-style-type: disc;
}
.book-vido-banner img {
  width: 500px;
  height: 450px;
}
